<div class="form__checkbox form__checkbox--inline form-check">
  <input type="checkbox" name="checkbox-inputs" class="form-check__control" id="checkbox-1" aria-labelledby="checkbox-label-1" />
  <label class="form-check__label" for="checkbox-1" id="checkbox-label-1">Label</label>
</div>
