<div class="swiper-container carousel js-carousel {{modifier_class}}">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="http://jam.domain7.net/redlands/800/500/1">
    </div>
    <div class="swiper-slide">
      <img src="http://jam.domain7.net/redlands/800/500/2">
    </div>
    <div class="swiper-slide">
      <img src="http://jam.domain7.net/redlands/800/500/3">
    </div>
  </div>
  <div class="carousel__button-container">
    <div class="carousel__button-prev">
      <svg class="icon">
        <use xlink:href="/themes/plnu/images/svg-sprite.svg#icon-swiper-arrow" />
      </svg>
    </div>
    <div class="carousel__button-next">
      <svg class="icon">
        <use xlink:href="/themes/plnu/images/svg-sprite.svg#icon-swiper-arrow" />
      </svg>
    </div>
  </div>
</div>
